[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npm run dev"
  port = 3000

[context.production.environment]
# Add any Netlify environment vars here, e.g.
# NODE_ENV = "production"
